.footer{
  width:100vw;
  background:conic-gradient(
    from 90deg at 50% 50%,
    #061426 -89.5deg,
    #000000 91.05deg,
    #061426 270.5deg,
    #000000 451.05deg
  ), #06050A;

  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 80px 0 30px;
  margin-left:calc(-50vw + 50%);
}


.footer-container{
  max-width:1200px;
  width:100%;
  margin:50px auto 0;
  display:flex;
  justify-content:space-between;
}

.footer-brand img{
width:200px;
margin-bottom:20px;
}

.socials{
display:flex;
gap:17px;
}

.circle{
width:36px;
height:36px;
background:#D9D9D9;
border-radius:50%;
}

.footer-col{
color:white;
font-family:'Inter',sans-serif;
}

.footer-col h3{
margin-bottom:20px;
font-size:16px;
}

.footer-col p{
color:#D9D9D9;
font-size:14px;
margin-bottom:12px;
}

.footer-line{
  max-width:1200px;
  width:100%;
  height:1px;
  background:white;
  margin:40px auto 0;
}

.copyright{
margin-top:10px;
font-size:14px;
color:white;
}