/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ROOT */

body {
  background: #02050f;
  color: white;
}

/* HOME WRAPPER */

.home {
  width: 100%;
  overflow-x: hidden;
}

/* GLOBAL CONTAINER */

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}